.flag-img {
  width: 200px;
}
.flag-item {
  margin-left: 50px;
}

.country-info {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: 50px;
}
.country-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
